{% extends "base.html" %}
{% block body %}
            <div id="content">
                     <div class="col-md-12 col-md-offset-1" >
                        <div class="col-md-10">
                  <div class="col-md-12 panel">
                    <div class="col-md-12 panel-heading">
                     <h3> {% block title %}
                          {% if add_config %}Add Configuration
                          {% else %}Edit Configuration
                          {% endif %}
                          {% endblock %}</h3>
                    </div>
                    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                      <div class="col-md-12">
                              <form class="cmxform"  method="POST">
                          <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                             {{form.name(class='form-text',type='text',autocomplete="off")}}
                              <span class="bar"></span>
                              <label>Name</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px">
                              {{form.ram(class='form-text',type='number',autocomplete="off")}}
                              <span class="bar"></span>
                              <label>RAM</label>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              {{form.rom(class='form-text',type='number',autocomplete="off")}}
                              <span class="bar"></span>
                              <label>ROM</label>
                            </div>
                              <div class="form-group form-animate-text" style="margin-top:40px">
                              {{form.cpu(class='form-text',type='text',autocomplete="off")}}
                              <span class="bar"></span>
                              <label>CPU</label>
                            </div>
                          </div>
                          <div class="col-md-12">
                              {{form.submit(class='submit btn btn-danger"')}}
                        </div>
                             {{ form.csrf_token }}
                      </form>

                    </div>
                  </div>
                </div>
              </div>
                        <div class="col-md-6">
                          <div class="alert alert-danger alert-gradient alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <strong>Danger!</strong> Best check yo self, you're not looking too good.
                          </div>
                        </div>
                  </div>
                </div>
              </div>
             </div>
            </div>


{% endblock %}

{% block scriptjs %}
    <script>
$('#check').on('change', function(){
  $(this).val(this.checked ? "True" : "False");
})</script>
{% endblock %}