{% extends "base.html" %}

{% block angularjs %}
     <script src="{{ url_for('static', filename='js/service.js') }}"></script>
{% endblock %}


{% block body %}
<div ng-controller="DashCtrl">
<div id="content">
            <div class="tabs-wrapper text-center">
             <div class="panel box-shadow-none text-left content-header">
                  <div class="panel-body" style="padding-bottom:0px;">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">VM MACHINE</h3>
                        <p class="animated fadeInDown">
                         VM MACHINE <span class="fa-angle-right fa"></span> {{ machine.name }}
                        </p>
                    </div>
                    <ul id="tabs-demo" class="nav nav-tabs content-header-tab" role="tablist" style="padding-top:10px;">
                      <li role="presentation" class="active">
                        <a href="#tabs-area-demo" id="tabs2" data-toggle="tab"></a>
                      </li>
                    </ul>
                  </div>
              </div>

            <div class="col-md-12 tab-content" id="cont">
              <div role="tabpanel" class="tab-pane fade active in" id="tabs-area-demo" aria-labelledby="tabs1">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="col-md-12 tabs-area">
                      <div class="liner"></div>
                      <ul class="nav nav-tabs nav-tabs-v5" id="tabs-demo6">
                        <li class="active">
                         <a href="#tabs-demo6-area1" data-toggle="tab" title="welcome">
                          <span class="round-tabs three">
                            <i class="glyphicon fa-download"></i>
                          </span>
                        </a>
                      </li>

                      <li>
                        <a href="#tabs-demo6-area2" data-toggle="tab" title="profile">
                         <span class="round-tabs three">
                           <i class="glyphicon  fa-database"></i>
                         </span>
                       </a>
                     </li>

                     <li>
                      <a href="#tabs-demo6-area3" data-toggle="tab" title="bootsnipp goodies">
                       <span class="round-tabs three">
                        <i class="glyphicon fa-clone"></i>
                      </span> </a>
                    </li>

                    <li>
                      <a href="#tabs-demo6-area4" data-toggle="tab" title="blah blah">
                       <span class="round-tabs three">
                         <i class="glyphicon glyphicon-comment"></i>
                       </span>
                     </a>
                   </li>

                   <li><a href="#tabs-demo6-area5" data-toggle="tab" title="completed">
                     <span class="round-tabs three">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span> </a>
                  </li>
                </ul>
                <div class="tab-content tab-content-v5">
                  <div class="tab-pane fade in active" id="tabs-demo6-area1">

                    <h3 class="head text-center">Install Environment of Development</h3>
                    <p class="narrow text-center">
                        <div class="col-md-12 col-sm-12" id="check">
                      {% for item in program %}
                      <div class="col-md-4 panel" style="padding:20px;padding-bottom:0px;">
                           <div class="form-group form-animate-checkbox">
                          <input id="{{ item.name }}-check" name="{{ item.name }}" alt="{{item.id}}" type="checkbox" class="checkbox">
                          <label> {{ item.name }}</label>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="col-md-12 col-sm-12" id="prop-oracle" style="display: none">
                       <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              <input id="oracle-user" class='form-text',type='text',autocomplete="off">
                              <span class="bar"></span>
                              <label>Oracle USER</label>
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              <input id="oracle-sid" class='form-text',type='text',autocomplete="off">
                              <span class="bar"></span>
                              <label>Oracle SID</label>
                            </div>
                       </div>
                          <div class="col-md-12 col-sm-12">
                       <div class="col-md-12">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              <input id="fileuploadoracle" class='form-text' type='file'>
                              <span class="bar"></span>
                              <label>File Property</label>
                            </div>
                       </div>
                     </div>
                      </div>
                     <div class="col-md-12 col-sm-12">
                       <div class="col-md-12">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              <input id="installer-user" class='form-text',type='text',autocomplete="off">
                              <span class="bar"></span>
                              <label>Installer Folder</label>
                            </div>
                       </div>
                     </div>


                    <p class="text-center">
                      <button ng-click="executesh()" name="{{ machine.id }}" id="btn_install" class="btn btn-success btn-round green"> Start Install <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></button>
                    </p>
                  </div>
                </div>
                  <div class="tab-pane fade" id="tabs-demo6-area2">
                       <div class="row">
        <div id="form_database_export" >
            <div class="form-group form-animate-text" >
                <input type="text" class="form-text" id="username_db" name="username_imp" autocomplete="off">
                 <span class="bar"></span>
                <label>Username</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="password" class="form-text" id="password_db" name="password_imp" autocomplete="off">
                 <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="data_base_db" name="data_base_imp" autocomplete="off">
                <span class="bar"></span>
                <label> DataBase</label>
            </div>
            <div class="col-md-6 column ui-sortable">
                <div class="form-group form-animate-text">
                    <input type="text" class="form-text" id="schema_db" name="schema_imp" autocomplete="off">
                    <span class="bar"></span>
                    <label>Schema</label>
                </div>
            </div>
            <div class="col-md-6 column ui-sortable">
                <div class="form-group form-animate-text">
                    <input type="text" class="form-text" id="dumpfile_db" name="dumpfile_name">
                     <span class="bar"></span>
                    <label>Dumpfile</label>
                </div>
            </div>
             <div class="form-group col-md-12 column ui-sortable" id="tel">
                 <label class="col-md-4 control-label text-right">Type</label>
                              <div class="col-md-6">
                                  <div class="col-md-2 padding-0">
                                  <input type="radio" name="type" id="impo" value="imp" checked> Import
                                  </div>
                                  <div class="col-md-2 padding-0">
                                  <input type="radio" name="type" id="ex" value="exp" > Export
                                  </div>
                              </div>
             </div>
             <div class="col-md-12 column ui-sortable">
                <div class="form-group form-animate-text">
                    <input type="text" class="form-text" id="logfile_name" name="logfile_name">
                       <span class="bar"></span>
                    <label> Log file name</label>
                </div>
            <div id="export">
                 <div class="col-md-6 column ui-sortable">
                <div class="form-group form-animate-text">
                    <input type="text" class="form-text" id="remap-src_name" >
                     <span class="bar"></span>
                    <label>RemaptableSpace source_tablespace</label>
                </div>
            </div>
            <div class="col-md-6 column ui-sortable">
                <div class="form-group form-animate-text">
                    <input type="text" class="form-text" id="remap_target_name" >
                       <span class="bar"></span>
                    <label>RemaptableSpace target_tablespace</label>
                </div>
            </div>
            <br>
            </div>
                   <div class="col-md-12">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              <input id="fileuploaddb" class='form-text' type='file'>
                              <span class="bar"></span>
                              <label>File Property</label>
                            </div>
                       </div>
        </div>
            <button type="button" ng-click="database()" class="btn btn-primary" id="btn_sub_db" name="{{ machine.id }}">
                Submit
            </button>

        </div>

                        </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-demo6-area3">
                     <div class="row">
        <div id="form_database_install" >
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="path_solife"  autocomplete="off">
                <span class="bar"></span>
                <label>Hostname Solife</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="jb_host_solife" autocomplete="off">
                 <span class="bar"></span>
                <label>Jboss Host Name</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="host_solifedb" list="host" autocomplete="off">
                <span class="bar"></span>
                <label>Hostname DB</label>
                <datalist id="host">
                <option value="db1">
                <option value="db2">
               </datalist>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="sid_solife" autocomplete="off">
                 <span class="bar"></span>
                <label>SID</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="db_user_solife" autocomplete="off">
                 <span class="bar"></span>
                <label>Database User</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="Jb_home" autocomplete="off">
                 <span class="bar"></span>
                <label> JBOSS Home</label>
            </div>
            <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="java_home" autocomplete="off">
                <span class="bar"></span>
                <label>Java Home</label>
            </div>
             <div class="form-group form-animate-text">
                <input type="number" class="form-text" id="port_solife" autocomplete="off">
                  <span class="bar"></span>
                <label>Port</label>
            </div>

        <div class="form-group col-md-12 column ui-sortable" id="action">
                 <label class="col-md-4 control-label text-right">Action</label>
                              <div class="col-md-6">
                                <div class="col-md-2 padding-0">
                                  <input type="radio" name="acte" id="inst" value="install" checked> Install
                                </div>
                                <div class="col-md-2 padding-0">
                                  <input type="radio" name="acte" id="upda" value="update"> Update
                                </div>
                              </div>
        </div>
            <div id="sc_update" style="display: none">
                <div class="col-md-12">
                <div class="form-group form-animate-text">
                <input type="text" class="form-text" id="folder_solife" autocomplete="off">
                  <span class="bar"></span>
                <label>Solife Folder</label>
                 </div>
              </div>

            </div>
            <div class="col-md-12">
                            <div class="form-group form-animate-text" style="margin-top:40px">
                              <input id="fileuploadsolife" class='form-text' type='file'>
                              <span class="bar"></span>
                              <label>File Property</label>
                            </div>
             </div>
            <button type="button" ng-click="solifeinst()" class="btn btn-primary" id="btn_solife" name="{{ machine.id }}">
                Submit
            </button>
        </div>

    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-demo6-area4">
 <div class="panel invoice-v1-content">
        <div class="panel-body">
            <div class="col-md-12 invoice-v1-header">
              <div class="col-md-12">
                <h1><b>{{ machine.name }}</b></h1>
              </div>
              <div class="col-md-12">
                <h4>
                <address>
                  <strong>Os: {{ machine.os }}</strong><br>
                </address>
                </h4>
              </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4>
                     <address>
                      <strong>Username :{{ machine.userName }}</strong><br>
                      <strong>Ip :{{ machine.ipAddress }}</strong><br>
                    </address>
                    </h4>
                </div>
                <div class="col-md-6 text-right">
                    <h4>
                    <address>
                      <strong>CHARACTERISTICS OF MACHINE</strong><br>
                      Cpu: {{ machine.cpu }} GHZ<br>
                      Ram: {{ machine.ram }} GB<br>
                      Rom: {{ machine.rom }} GB
                    </address>
                    </h4>
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="responsive-table">

                   <table class="table table-striped">
                    <tr>
                      <th>Program</th>
                      <th>Version</th>
                    </tr>
                    <tr>
                      <td>---</td>
                      <td>---</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>

                  </div>
                <div class="tab-pane fade" id="tabs-demo6-area5">
                  <div class="row">
                      <div class="col-md-4">
                       <div class="panel">
                           <div class="panel-heading panel-heading-white text-center">
                              <h4>CPU USAGE</h4>
                            </div>
                            <div class="panel-body">
                                <div id="doughnut-chart" style="width: 270px ;height: 250px"></div>
                            </div>
                      </div>

                    </div>
                      <div class="col-md-4">
                       <div class="panel">
                           <div class="panel-heading panel-heading-white text-center">
                              <h4>ROM USAGE</h4>
                            </div>
                            <div class="panel-body">
                                <div id="doughnut-chartr" style="width: 270px ;height: 250px"></div>
                            </div>
                      </div>

                  </div>
                      <div class="col-md-4">
                       <div class="panel">
                           <div class="panel-heading panel-heading-white text-center">
                              <h4>RAM USAGE</h4>
                            </div>
                            <div class="panel-body">
                                <div id="doughnut-chartra" style="width: 270px ;height: 250px"></div>
                            </div>
                      </div>
                  </div>
                       <div class="clearfix"></div>
                  </div>
                </div>
            </div>
              </div>
              </div>
            </div>



  </div>


            </div>
<div id="loading" class="col-md-12 tab-content"  style="display: none">
                     <div class="sk-chasing-dots">
                      <div class="sk-child sk-dot1"></div>
                      <div class="sk-child sk-dot2"></div>
                      </div>
 </div>
</div>

</div>
{% endblock %}
{% block scriptjs %}
     <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/plugins/jquery.nicescroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/homejs.js') }}"></script>
{% endblock %}